<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Locations</h1>


<% @locations.each do |location| %> <!-- we created this locations variable it is a array of locations -->
<div class="entry">
	<%= image_tag(location.image_url) %>
	<h3><%= location.title %></h3>
	<%= sanitize(location.description) %>
</div>

<% end %>
