/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$dark-blue: 		hsla(250, 20%, 20%, .6);
$light-blue: 		hsla(220, 80%, 90%, .6);
$green-blue: 		hsla(180, 70%, 70%, .6);
$grey: 				hsla(180, 5%, 50%, .6);
$purple: 			hsl(268, 96%, 64%);
$violet: 			hsl(263, 96%, 57%);

body {
	background-image: url('witewall_3.png');
}
 #banner {
 	background: 	$light-blue;
 	padding: 		10px;
 	border-bottom: 	2px solid;
 	font: 			small-caps 40px/40px "Times New Roman", serif;
 	color: 			$violet;
 	text-align: 	center;


	 img {
	 	float: 		left;
	 }

 }


 #notice {	
 	color: 				#000 !important;
 	border: 			2px solid red;
 	padding: 			1em;
 	margin-bottom: 		2em;
 	background-color: 	$green-blue;
 	font: 				bold smaller sans-serif;

}

#columns {
	background: 		$dark-blue;

	#main {
		margin-left: 	17em;
		padding: 		1em;
		background: 	white;

	}

	#side {
		float: 			left;
		clear: 			both;
		padding: 		1em 2em;
		width: 			13em;
		

		ul {
			padding: 0;

			li {
				list-style: none;

				a {
					color: white;
					font-size: small;
				}
			}
		}
	}
}		


