// Place all the styles related to the Planner controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.planner {
	h1 {
		margin: 		0;
		padding-bottom: 0.5em;
		font: 			150% sans-serif;
		color: 			#226;
		border-bottom:	3px dotted #77d;
	}



	/* entry in the store catalogue */
	.entry {
		overflow: 		auto;
		margin-top: 	1em;
		border-bottom: 	1px dotted #77d;
		min-height: 	200px;
	}
		img {
		width: 			250px;
		margin-left: 	100px;
		margin-right: 	5px;
		margin-top: 	5px;
		visibility: 	display;
		
	}

	h3 {
		font-size: 		120%;
		font-family: 	sans-serif;
		margin-left: 	100px;
		margin-top: 	0px;
		margin-bottom: 	2px;
		color: 			#227;
	}

	p {
		margin-left: 	100px;
		margin-top: 	0.5em;
		margin-top: 	0.8em;
	}
}